{% extends 'deneme.html' %}

{% block title %}
Third
{% endblock %}

{% block content %}

    
        
        <div class="w3-twothird">
          <div class="w3-container w3-card w3-white w3-margin-bottom">  
            <h2 class="w3-text-grey w3-padding-16">
              <i class="fa fa-question-circle fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>
              About</h2>
            <div class="w3-container">
              {% include 'include/requirements.html' %}
              <p>
                This web application developed with Django Framework.
                <br>
                Some of the Views, Models and Template parts may not meet in Django's requirements.
                <br>
                The HTML codes are shortened with Jinja and the template is divided into parts.
                <br>
                The system uses a SQLite database and the functions are coded in Python language.
              </p>
              <hr>

              <p>
                This project was developed educational purposes.
                Plagiarism may result in your expulsion for higher education.
                This code detect by any plagiarism checkers. So that's way I do not recommend to use this application for your HomeWork or Project Assignment.
                You can study the code in this project.
                Read it, review it and learn it but please do not use my code.
              </p>
              <hr>
            </div>
            </div>
        </div>

{% endblock %}