<h2 class="w3-text-grey w3-padding-16"><i class="fa fa-apple fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>APPStore</h2>
<div class="w3-container">
<a href="https://apps.apple.com/us/app/dijitalcv/id1635049630">DijitalCV - App Store</a><br>
              <a href="https://apps.apple.com/us/app/cts-transfer/id1510239029">CTS Tur - App Store</a><br>
              <a href="https://apps.apple.com/us/app/%C3%A7aml%C4%B1ca-koleji/id1469027666">Çamlıca Koleji - App Store</a><br>
              <a href="https://apps.apple.com/us/app/mafya/id1595671568">MAFYA - App Store</a><br>
              <a href="https://apps.apple.com/us/app/a%C3%B6f-ders-%C3%B6zetleri/id1447854076">Aöf Ders Özetleri - App Store</a><br>
              <a href="https://apps.apple.com/us/app/menemen-haber-son-dakika/id1459367655">Menemen Haber - App Store</a><br>
              <a href="https://apps.apple.com/us/app/ke%C5%9Fan-mobil/id1511484376">Keşan Mobil - App Store</a><br>
              <a href="https://apps.apple.com/us/app/miyu-i-stanbul/id1513655825">Miyu İstanbul - App Store</a><br>
              <a href="https://apps.apple.com/us/app/tazecik-al/id1518057277">Tazecik Al - App Store</a><br>
              <a href="https://apps.apple.com/us/app/flybln-de/id1556620076">Flybln.de - App Store</a><br>
              <a href="https://apps.apple.com/us/app/ko%C5%9Far-cosmetics/id1536262839">Koşar Cosmetics - App Store</a><br>
              <a href="https://apps.apple.com/us/app/charms-turkey/id1553819071">Charms Turkey - App Store</a><br>
              <a href="https://apps.apple.com/us/app/frigya-haber/id1594848699">Frigya Haber - App Store</a><br>
              <a href="https://apps.apple.com/us/app/g%C3%B6rsel-sanatlar/id1535084677">Görsel Sanatlar - App Store</a><br>
              <a href="https://apps.apple.com/us/app/eser-%C3%B6zetleri/id1515307038">Eser Özetleri - App Store</a><br>
              <a href="https://apps.apple.com/us/app/karaman-haber-ibrala-com/id1517198066?l=tr&ls=1">Karaman Haber | ibrala.com - App Store</a><br>
              <a href="https://apps.apple.com/us/app/ayakkab%C4%B1-tamircim/id1541553280">Ayakkabı Tamircim - App Store</a><br>
              <a href="https://apps.apple.com/us/app/mamma-rosa/id1574855568">Mamma Rosa - App Store</a><br>
              <a href="https://apps.apple.com/tr/app/maarif-kamp%C3%BCs/id1572642304">Maarif Kampüs - App Store</a><br>
              <a href="https://apps.apple.com/tr/app/haar-profi/id1538232118">Haar-Profi - App Store</a><br>
              <a href="https://apps.apple.com/tr/app/esnaff/id1599275127">ESNAFF - App Store</a><br>
              <a href="https://apps.apple.com/app/id1493907978">Ardeşen Belediyesi - Mobil - App Store</a><br>
              <a href="https://apps.apple.com/tr/app/sevimli-pet-taksi/id1569395308">Sevimli Pet Taksi - App Store</a><br>
              <a href="https://apps.apple.com/app/id1491553159">GazeteBU - App Store</a><br>
              <a href="https://apps.apple.com/us/app/otantik-yatak/id1486138393">Otantik Yatak - App Store</a><br>
              <a href="https://apps.apple.com/us/app/biakt%C3%BCel-akt%C3%BCel-%C3%BCr%C3%BCnler/id1164083639">Biaktüel - Aktüel Ürünler - App Store</a><br>
              <a href="https://apps.apple.com/us/app/fragman-tv-dizi-film/id1438345822">Fragman Tv - Dizi, Film - App Store</a><br>
              <a href="https://apps.apple.com/us/app/simitsi/id1446047176">SimitSi - App Store</a><br>
              <a href="https://apps.apple.com/us/app/ev-arkada%C5%9F%C4%B1-bul-evde-org/id1582236455">Ev Arkadaşı Bul - Evde.org - App Store</a><br>
              <a href="https://apps.apple.com/app/id1476406420">Şipşak32.com - Sanal Market - App Store</a><br>
              <a href="https://apps.apple.com/us/app/kahvesan/id1442096851">Kahvesan - App Store</a><br>
              <a href="https://apps.apple.com/us/app/kamp-pusulas%C4%B1/id1479474671">Kamp Pusulası - App Store</a><br>
              <a href="https://apps.apple.com/app/id1477323201">Sağlık Personeli Haber.Net - App Store</a><br>
              <a href="https://apps.apple.com/us/app/kahve-com/id1231498765?l=tr&ls=1">Kahve.com - App Store</a><br>
              <a href="https://apps.apple.com/us/app/malzemedolu/id1472870696?l=tr&ls=1">MalzemeDolu - App Store</a><br>
              <a href="https://apps.apple.com/us/app/yenice-derne%C4%9Fi/id1462804766?l=tr&ls=1">Yenice Derneği - App Store</a><br>
              <a href="https://apps.apple.com/tr/app/modamerve/id1239333868?l=tr">ModaMerve - App Store</a><br>
              <a href="https://apps.apple.com/us/app/onlybesiktas/id1459852693">OnlyBesiktas - App Store</a><br>
              <a href="https://apps.apple.com/us/app/team-doblo/id1191935806">Team Doblo - App Store</a><br>
              <a href="https://apps.apple.com/us/app/foto-bask%C4%B1-app/id1451425388">Foto Baskı App - App Store</a><br>
              <a href="https://apps.apple.com/tr/app/tekrar-al/id1639137878">Tekrar AL - App Store</a><br>
              <a href="https://apps.apple.com/tr/app/welltures-global/id1636843294">Welltures Global - App Store</a><br>
              <a href="https://apps.apple.com/tr/app/baghashtag/id1631778920">Baghashtag - App Store</a><br>
              <a href="https://apps.apple.com/tr/app/sanayi-gazetesi/id1628408349">Sanayi Gazetesi - App Store</a><br>
              <a href="https://apps.apple.com/tr/app/miapos-otomasyon-paneli/id1619550685">MiaPOS Otomasyon Paneli - App Store</a><br>
              <a href="https://apps.apple.com/tr/app/b%C3%B6lge-haber-gazetesi/id1489872304">Bölge Haber - Gazetesi - App Store</a><br>
              <a href="https://apps.apple.com/app/id1484641043">10 Numara Home - App Store</a><br>
              <a href="https://apps.apple.com/tr/app/mafya/id1595671568">Mafya - App Store</a><br>
              <a href="https://apps.apple.com/us/app/starwood-yapi-market/id1487707751?l=tr&ls=1">Starwood Yapı Market - App Store</a><br>
</div>
<hr>