<div class="w3-third">
    <div class="w3-white w3-text-grey w3-card-4">
      <div class="w3-display-container">
        {% load static %}
            <img src="{% static 'berk.jpg' %}" style="width:100%" alt="Avatar">
                <div class="w3-display-bottomleft w3-container w3-text-black">
                    <h2>Berk Orhan</h2>
                </div>
      </div>
      <br>
      <div class="w3-container">
        <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Mobile App Developer</p>
        <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Aydın, TURKEY</p>
        <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>berkorhanbeta@gmail.com</p>
        <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>+905359827922</p>
        <p><i class="fa fa-linkedin-square fa-fw w3-margin-right w3-large w3-text-teal"></i>linkedin.com/in/berkorhan</p>
        <p><i class="fa fa-github-square fa-fw w3-margin-right w3-large w3-text-teal"></i>github.com/berkorhanbeta</p>
        <p><i class="fa fa-globe fa-fw w3-margin-right w3-large w3-text-teal"></i>www.APPBeta.net</p>
        <hr>

        {% include 'include/skills.html' %}
        <hr>
      </div>
    </div>
</div>