<h2 class="w3-text-grey w3-padding-16"><i class="fa fa-play-circle fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Play Store</h2>
<div class="w3-container">
<a href="https://play.google.com/store/apps/details?id=net.appbeta.minersy">Minersy - Cloud Mining App - Play Store</a><br>
              <a href="https://play.google.com/store/apps/details?id=com.yildiz.app&hl=tr&gl=US">Yıldız Teknik Üniversitesi Kampüs - Play Store</a><br>
              <a href="https://play.google.com/store/apps/details?id=net.appbeta.iukampusapp&hl=tr&gl=US">İÜ Kampüs - İstanbul Üniversitesi - Play Store</a><br>
              <a href="https://play.google.com/store/apps/details?id=net.appbeta.cratosotokiralama">Demonti Rent a Car - Play Store</a><br>
              <a href="https://play.google.com/store/apps/details?id=net.appbeta.fit724">FIT 7/24 - Play Store</a><br>
              <a href="https://play.google.com/store/apps/details?id=net.appbeta.ankaramobi">AnkaraMobi Toptan - Play Store</a><br>
              <a href="https://play.google.com/store/apps/details?id=net.appbeta.ehliyettestleri">Ehliyet Testleri - Play Store</a><br>
              <a href="https://play.google.com/store/apps/details?id=net.appbeta.testlericoz">Testleri Çöz - Play Store</a><br>
              <a href="https://play.google.com/store/apps/details?id=net.appbeta.poyrazwificomtr">Poyraz WiFi Online İşlemler - Play Store</a><br>
              <a href="https://play.google.com/store/apps/details?id=net.appbeta.tuanadantel">Tuana Dantel - Play Store</a><br>
              <a href="https://play.google.com/store/apps/details?id=net.appbeta.klassdantel">Klass Dantel - Play Store</a><br>
              <a href="https://play.google.com/store/apps/details?id=com.whitegoldaccessories">WhiteGold Accessories - Play Store</a><br>
              <a href="https://play.google.com/store/apps/details?id=net.appbeta.serteks&hl=tr">Serteks Dantel - Play Store</a><br>
              <a href="https://play.google.com/store/apps/details?id=net.appbeta.otantikyatak">Otantik Yatakları B2B - Play Store</a><br>
              <a href="https://play.google.com/store/apps/details?id=net.appbeta.ilansun">ilansun.com - Play Store</a><br>
              <a href="https://play.google.com/store/apps/details?id=net.appbeta.surucukurslari">Sürücü Kursları Rehberi - Play Store</a><br>
              <a href="https://play.google.com/store/apps/details?id=net.appbeta.ulubey">Ulubey - Play Store</a><br>
              <a href="https://play.google.com/store/apps/details?id=net.appbeta.hilallahmacun">Hilal Lahmacun - Play Store</a><br>
              <a href="https://play.google.com/store/apps/details?id=com.welltures.global">Welltures Global - Play Store</a><br>
              <a href="https://play.google.com/store/apps/details?id=dk.moonstar.oyisi">Oyisi Sushi Restaurant - Play Store</a><br>
              <a href="https://play.google.com/store/apps/details?id=dk.moonstar.kingssushi">Kings Sushi - Play Store</a><br>
              <a href="https://play.google.com/store/apps/details?id=dk.moonstar.atami">Atami - Play Store</a><br>
              <a href="https://play.google.com/store/apps/details?id=net.appbeta.yorumlanet">Yorumla - Teknoloji Haberleri - Play Store</a><br>
              <a href="https://play.google.com/store/apps/details?id=dk.moonstar.oriental">Oriental Barbecue House - Play Store</a><br>
              <a href="https://play.google.com/store/apps/details?id=dk.moonstar.dermanpack">Derman Pack ApS - Play Store</a><br>
              <a href="https://play.google.com/store/apps/details?id=dk.moonstar.hamasushi">Hama Sushi Restaurant - Play Store</a><br>
              <a href="https://play.google.com/store/apps/details?id=net.appbeta.vadigruprize">Vadi Grup - Play Store</a><br>
              <a href="https://play.google.com/store/apps/details?id=net.appbeta.eskisehirgazete">Eskişehir Gazete - Play Store</a><br>
              <a href="https://play.google.com/store/apps/details?id=net.appbeta.haberdibimde">Haber Dibimde - Play Store</a><br>
              <a href="https://play.google.com/store/apps/details?id=net.appbeta.elcihaber">Elçi Haber - Play Store</a><br>
              <a href="https://play.google.com/store/apps/details?id=net.appbeta.maarifkampus">Maarif Kampüs - Play Store</a><br>
              <a href="https://play.google.com/store/apps/details?id=net.appbeta.ifastinapp">Ifastin - Intermittent Fasting - Play Store</a><br>
              <a href="https://play.google.com/store/apps/details?id=net.appbeta.benimolsunapp">BenimOlsun - Ayakkabının Adres - Play Store</a><br>
              <a href="https://play.google.com/store/apps/details?id=com.yapvekazan.app">Yap ve Kazan - Play Store</a><br>
</div>
<hr>